<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar: The Last Airbender</title>
  </head>
  <body>
    <div id="app">
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">{{ character.name }}
          <button @click="addToFavorite(character)">Favorite</button>
        </li>
      </ul>
      <hr />
      <form>
        <h3>Add new characters to the page:</h3>
        <label for="newCharacter">New Character Name:</label>
        <input type="text" id="newCharacter" v-model="newCharacter.name">
        <button @click.prevent="addNewCharacter">Add New Charater</button>  
      </form>
      <hr />
      <!-- <p>
        <span v-for="(character, index) in characterList"
          >{{ character.name }}{{ index === characterList.length - 1 ? '' : ', '
          }}
        </span>
      </p> -->

      <p>My Favorite Characters:
        <span v-if="myFavList.length === 0">Currently have no favorite character!</span>
        <span v-else v-for="(character, index) in myFavList">{{ character}}{{ index === myFavList.length - 1 ? '' : ', '}}</span>
      </p>
      <!-- <p v-else>There are odd characters!</p> -->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          newCharacter: {
            name: ''
          },
          characterList: [
            {
              name: 'Aang'
            },
            {
              name: 'Zuko'
            },
            {
              name: 'Toph'
            },
            {
              name: 'Katara'
            }
          ],
          myFavList: [],
        }),
        methods: {
          addToFavorite(character) {
            if (!this.myFavList.includes(character.name)) {
              this.myFavList.push(character.name)
            } else {
              alert('This character already exists in your favorite list')
            }
          },
          addNewCharacter() {
            console.log(this.characterList.some((ele) => {
              ele.name === this.newCharacter.name}))
            if (!this.characterList.some((ele) => ele.name == this.newCharacter.name)) {
              this.characterList.push(this.newCharacter)
            } else {
              alert('This character already exists in your favorite list')
            }
            this.newCharacter = {
              name: ''
            }
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>
